# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Eric - Pessoal\OneDrive\Documentos\Unisinos\ADS\BD II - Code\tga_bd2\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
